body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:160px;
  top:10px;
  width:470px;
  height:60px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Harlow Solid SemiExpanded Italic Bold', 'Harlow Solid';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u520 {
  position:absolute;
  left:290px;
  top:74px;
  width:263px;
  height:22px;
  font-family:'Harlow Solid SemiExpanded Italic Bold', 'Harlow Solid';
  font-weight:700;
  font-style:italic;
  font-size:18px;
  color:#000000;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u522 {
  position:absolute;
  left:210px;
  top:150px;
  width:230px;
  height:40px;
  font-size:25px;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:190px;
}
#u524 {
  position:absolute;
  left:120px;
  top:210px;
  width:320px;
  height:190px;
}
#u525 {
  position:absolute;
  left:2px;
  top:87px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u526 {
  position:absolute;
  left:550px;
  top:254px;
  width:270px;
  height:36px;
}
#u527 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u528 {
  position:absolute;
  left:550px;
  top:207px;
  width:249px;
  height:37px;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u530 {
  position:absolute;
  left:120px;
  top:470px;
  width:320px;
  height:210px;
}
#u531 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:550px;
  top:480px;
  width:172px;
  height:37px;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:550px;
  top:517px;
  width:300px;
  height:224px;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u536 {
  position:absolute;
  left:440px;
  top:775px;
  width:100px;
  height:25px;
}
#u536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u537 {
  position:absolute;
  left:850px;
  top:320px;
  width:100px;
  height:25px;
}
#u537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u538 {
  position:absolute;
  left:850px;
  top:563px;
  width:100px;
  height:25px;
}
#u538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
